body {
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #55a7a7;
    color: #f0129b;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.personagem {
    width: 300px;
    background-color: #9d42da;
    border: 1px solid #0bb6d4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.personagem img {
    max-width: 100%;
    height: auto;
}

.personagem h2 {
    margin: 10px 0;
}

.personagem p {
    font-size: 14px;
}
